lib
dist
build
coverage
node_modules*
configs
.vscode*
images
serviceWorker.ts

.gitignore
.dockerignore
.eslintignore
.huskyrc
.commitlint.config.js
.lintstagedrc
package-lock.json
Dockerfile

.env
default.env

*.md
*.log
*.lock
*.yml
*.sh
*.conf
*.png
*.svg
*.ico
*.txt
*.css
*.tgz
*.woff
*.woff2
*.scss

tsconfig.json
tsconfig.dist.json

!**/.eslintrc*